<ion-view title="Horarios">
  <ion-content class="padding">
    <div class="list">
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Lunes</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Martes</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Miercoles</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar" >
      		<img src="../img/ionic.png">
      		<h2>Jueves</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Viernes</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Sábado</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="../img/ionic.png">
      		<h2>Domingo</h2>
      		<p>8:00 - 22:00 hrs</p>
    	</a>
</div>
  </ion-content>
</ion-view>
