<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar bar-header bar-energized">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
                Atrás
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button class="button-icon ion-android-close" ui-sref="app.home">
        </button>
 </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top">
  <!-- Home -->
  <ion-tab title="Home" icon="icon ion-home" href="alojamiento/home/{{organizations.id}}">
    <ion-nav-view name="alojamiento-home"></ion-nav-view>
  </ion-tab>
  <!-- Contacto -->
  <ion-tab title="Contacto" icon="icon ion-email" href="alojamiento/contacto/{{organizations.id}}">
    <ion-nav-view name="alojamiento-contacto"></ion-nav-view>
  </ion-tab>
  <!-- Horarios -->
  <ion-tab title="Horarios" icon="icon ion-clock" ui-sref='alojamiento.horarios'>
    <ion-nav-view name="alojamiento-horarios"></ion-nav-view>
  </ion-tab>
  <!-- Habitaciones -->
  <ion-tab title="Habitaciones" icon="icon ion-clipboard" ui-sref='alojamiento.habitaciones'>
    <ion-nav-view name="alojamiento-habitaciones"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
