<ion-view title="Alojamiento">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar">
    	    <img src="{{organizations.logo}}">
    	    <h2>{{organizations.name}}</h2>
    	    <p>
            <!--{{organizations.calificacion}}-->
            <i>Merced 504, Santiago</i>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            </p>
    	</div>
        <div class="item item-divider">
            <p>Servicio de {{organizations.servicioPrin}}
        </div>
    	<div class="item item-body">
    		<div class="row">
    			<!--Imagen principal de la organización-->                
    			<div class="col col-50">
                <center>
    				<img src="{{organizations.imgOrganizacion[0]}}">
                </center>
    			</div>
                <div class="col col-50">
                <center>
                    <img src="{{organizations.imgOrganizacion[1]}}">
                </center>
                </div>  			
    		</div>
    		<div class="row">
    			<button class="button button-block button-positive" ng-click="construccion()">
                    <i class= "icon ion-videocamera"></i>  Presentación
                </button>
    		</div>    		
    	</div>    
    	<div class="item item-body">
    		<p>{{organizations.mensajePresentacion}}</p>
    	</div>  
        <div class="item item-divider">
            <p>Además tenemos:</p>
            <h3>{{organizations.serviciosSec[0]}}, {{organizations.serviciosSec[1]}}</h3>
        </div> 
        <br><br> 	
	</div>
  </ion-content>
</ion-view>
