<ion-view title="Contacto">
  <ion-content class="padding">
    <div class="list card">
      
        <div class="item item-avatar">
          <img src="../img/ionic.png">
          <h2>Nombre de la organización</h2>
            <p> 02 5 333221 - 53332215          
      </div>
        
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Apellidos">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Fono">
            </label>
            
            <label class="item item-input">
                <textarea placeholder="Comments"></textarea>
            </label>

            <button class="button button-block button-positive">
                Enviar
            </button>

        </div>

  </div>

  </ion-content>
</ion-view>
