<ion-view title="Home">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar">
    	    <img src="../img/ionic.png">
    	    <h2>Nombre de la organización</h2>
    	    <p>Lema de la organización clasificación actual</p>
    	</div>
    	<div class="item item-body">
    		<div class="row">
    			<!--Imagen principal de la organización-->
    			<div class="col col-50">
    				<img src="../img/ionic.png">
    			</div>
    			<!--Imágenes secundarias-->
    			<div class="col">
    				<div class="row">
    					<div class="col col-50">
    						img4
    					</div>
    					<div class="col col-50">
    						img3
    					</div>
    				</div>
    				<div class="row">
    					<div class="col col-50">
    						img2
    					</div>
    					<div class="col col-50">
    						img1
    					</div>
    				</div>
    			</div>    			
    		</div>
    		<div class="row">
    			<button class="button button-block button-positive">Presentación</button>
    		</div>    		
    	</div>    
    	<div class="item item-body">
    		<p>Mensaje de presentación de la organización que se publicita, acá podrá expresar sus sentimientos hacia el usuario que posee la grandiosa aplicación de viajero. Este texto se debe ver justificado</p>
    	</div>
    	<div class="item item-divider">
    		Servicios
    		<p>servicio 1, servicio 2, servicio 3
  		</div>
	</div>

  </ion-content>
</ion-view>
