<ion-view title="Contacto">
  <ion-content class="padding">
    <div class="list card">
      
        <div class="item item-avatar">
          <img src="{{contacts.logo}}">
          <h2>{{contacts.name}}</h2>
            <p>{{contacts.fonos[0]}} - {{contacts.fonos[1]}}
            <p>{{contacts.email}}
            <p>{{contacts.web}}
      </div>
        
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Apellidos">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Fono">
            </label>
            
            <label class="item item-input">
                <textarea placeholder="Mensaje"></textarea>
            </label>

            <button class="button button-block icon ion-email button-positive">
                Enviar
            </button>

        </div>

  </div>

  </ion-content>
</ion-view>
