<ion-view title="Home">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar">
    	    <img src="{{organizations.logo}}">
            
    	    <h2>{{organizations.name}}</h2>
    	    <p>{{organizations.calificacion}}</p>
    	</div>
    	<div class="item item-body">
    		<div class="row">
    			<!--Imagen principal de la organización-->
    			<div class="col col-50">
    				<img src="{{organizations.imgOrganizacion[0]}}">
    			</div>
                <div class="col col-50">
                    <img src="{{organizations.imgOrganizacion[1]}}">
                </div>    			
    		</div>
    		<div class="row">
    			<button class="button button-block button-positive">Presentación</button>
    		</div>    		
    	</div>    
    	<div class="item item-body">
    		<p>{{organizations.mensajePresentacion}}</p>
    	</div>
    	<div class="item item-divider">
    		Servicio Principal: {{organizations.servicioPrin}}
    		<p>{{organizations.serviciosSec[0]}}, {{organizations.serviciosSec[1]}}
  		</div>
	</div>
  </ion-content>
</ion-view>
