<div class="modal beneficios">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Beneficios</h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeCreate()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
	<ul class="list beneficios">
    	<li class="item">
      		<img src="img/beneficios/localizacion.png">
    	</li>
    	<li class="item">
      		<img src="img/beneficios/informacion.png">
    	</li>
    	<li class="item">
      		<img src="img/beneficios/calificacion.png">
    	</li>
    	<li class="item">
      		<img src="img/beneficios/comparte.png">
    	</li>
    	<li class="item">
      		<img src="img/beneficios/conoce.png">
    	</li>
    	<li class="item">
      		<img src="img/beneficios/chatea.png">
    	</li>
</ul>
  </ion-content>
</div>
