<div class="modal beneficios">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Beneficios</h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeBeneficios()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
	


	<div class="list">
	    <a class="item item-avatar" href="#">
	       <img src="img/beneficios/localizacion.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Encuentra</h2>
	      <p style="white-space: normal;color: white">Encuentra lugares de interés desde cualquier parte en donde estés.</p>
	    </a>
	    <a class="item item-avatar" href="#">
	      <img src="img/beneficios/informacion.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Infórmate</h2>
	      <p style="white-space: normal;color: white">Accede a la información de los lugares que te interesan</p>
	    </a>
	    <a class="item item-avatar" href="#">
	      <img src="img/beneficios/calificacion.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Califica</h2>
	      <p style="white-space: normal;color: white">Evalúa los lugares visitados y consulta los lugares que visitarás.</p>
	    </a>
	    <a class="item item-avatar" href="#">
	      <img src="img/beneficios/comparte.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Comparte</h2>
	      <p style="white-space: normal;color: white">Comparte fotos, videos y comentarios de tus viajes.</p>
	    </a>
	    <a class="item item-avatar beneficios" href="#">
	      <img src="img/beneficios/conoce.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Conoce</h2>
	      <p style="white-space: normal;color: white">Contacta a otros viajeros.</p>
	    </a>
	    <a class="item item-avatar beneficios" href="#">
	      <img src="img/beneficios/chatea.png">
	      <h2 style="white-space: normal;color: white;font-weight:bold">Chatea</h2>
	      <p style="white-space: normal;color: white">Conversa con tus amigos viajeros.</p>
	    </a>

	</div>
  </ion-content>
</div>
