<div class="modal">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Buscador de amigos</h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeSearch()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar">
  </label>
</div>
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Cerca de ti
  </li>  
</ul>
<button class="button button-positive" style="margin-left: 10px; margin-bottom: 10px">
	<i class="icon ion-search"></i>
	Buscar
</button>
<p>
  </ion-content>

  <ion-footer-bar class="bar bar-footer bar-energized">
  Publicidad
  </ion-footer-bar>
</div>
