<div class="modal">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Buscador </h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeSearch()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list list-inset">
  <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Buscar">
  </label>
</div>
<ul class="list">
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Alojamientos
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Restaurants
  </li>
  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     Deporte aventura
  </li>
</ul>
<button class="button button-positive" style="margin-left: 10px; margin-bottom: 10px" ng-click="construccion()">
	<i class="icon ion-search"></i>
	Buscar
</button>
<p>
  </ion-content>

  <center>
  <img class="full-image" src="img/banner.png">
  </center>
</div>
