<ion-view title='ASdasfaf'>
 <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="bar bar-header bar-light">
        <h1 class="title">Iniciar sesión</h1>
    </div>
	<div class="has-header list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Usuario">
	  </label>
	  <label class="item item-input">
	    <input type="password" placeholder="Contraseña">
	  </label>
      <button class="button button-block button-light">
        Entrar
        </button>
	</div>
    <div class="row">
        <div class="col">
            <a class="button button-clear button-positive">
                Crear cuenta
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="button button-clear button-positive">
                Ingresar con cuenta Facebook
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="button button-clear button-positive">
                Acceder sin iniciar sesión
            </a>
        </div>
    </div>

	
  </ion-content>
</ion-view>