<div class="modal">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title"> </a> Video de presentación </h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeConstruccion()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="card">
  <div class="item item-text-wrap">
    <p> Estimado usuario esta sección se encuentra en construcción, disculpe las molestias.
      <p>
    <button class="button icon-left ion-sad button-positive" ng-click="closeConstruccion()" >Salir</button>
  </div>
</div>
  
    
  </ion-content>
</div>
