<div class="modal">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title"> </a> En construcción </h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeConstruccion()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="item item-text-wrap">
    <p> <center> Sección en construcción, disculpe las molestias
    <i class="button-icon ion-sad" style="font-size: 30px"></i>.</center>
  </div>    
  </ion-content>
</div>
