<div class="modal">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Crear cuenta</h1>
    <div class="buttons">
      <button class="button-icon ion-android-close" style="color: white" ng-click="closeCreate()"></button>      
    </div>
  </ion-header-bar>
  <ion-content>
	  <div class="list">
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Nombre</span>
	    <input type="text" placeholder="Juan">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Apellidos</span>
	    <input type="text" placeholder="Toro Veliz">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Email</span>
	    <input type="text" placeholder="JToro@viajero.cl">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Contraseña</span>
	    <input type="password">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Repita contraseña</span>
	    <input type="password">
	  </label>
	  <label class="item item-input item-stacked-label">
	    <span class="input-label">Fecha de nacimiento</span>
	    <input type="date">
	  </label>
	   <label class="item">
          <button class="button icon-left ion-plus-circled button-energized" type="submit">Crear Cuenta</button>
       </label>
	</div>
  </ion-content>
</div>

