<ion-view title="Contacto">
  <ion-content class="padding">
    <div class="list card">      
        <div class="item item-avatar">
          <img src="img/organization/logos/2.png">
          <h2>Ruta Vertical</h2>
            <p>94353143</p>
            <p>97429671</p>
            <p>info@rutavertical.cl</p>
            <p>www.rutavertical.cl</p>
      </div>
        
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Nombre">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Apellidos">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Fono">
            </label>
            
            <label class="item item-input">
                <textarea placeholder="Mensaje"></textarea>
            </label>

            <button class="button button-block icon ion-email button-positive">
                Enviar
            </button>

        </div>

  </div>

  </ion-content>
</ion-view>
