<ion-view title="Deporte Aventura">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar">
    	    <img src="img/organization/logos/2.png">
    	    <h2>Ruta Vertical</h2>
    	    <p>
            <!--{{organizations.calificacion}}-->
            <i>Camino al Volcán 19635, San Jose de Maipo</i>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            </p>
    	</div>
        <div class="item item-divider">
            <p>Servicio de Deporte Aventura
        </div>
    	<div class="item item-body">
    		<div class="row">
    			<!--Imagen principal de la organización-->                
    			<div class="col col-50">
                <center>
    				<img src="img/organization/images/ruta00.png">
                </center>
    			</div>
                <div class="col col-50">
                <center>
                    <img src="img/organization/images/ruta01.png">
                </center>
                </div>  			
    		</div>
    		<div class="row">
    			<button class="button button-block button-positive">
                    <i class= "icon ion-videocamera"></i>  Presentación
                </button>
    		</div>    		
    	</div>    
    	<div class="item item-body">
            <p>Aventúrate a vivir nuevas experiencias junto con tus amigos, en Ruta Vertical ofrecemos múltipes formas de entretención. </p>
        </div>  
        <div class="item item-divider">
            <p>Además tenemos:</p>
            <h3>Rafting, Hydrospeed, Canopy, Paintball</h3>
        </div> 
        <br><br> 	
	</div>
  </ion-content>
</ion-view>