<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar bar-header bar-energized">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
                Atrás
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button class="button-icon ion-android-close" style="color: white" ui-sref="app.home">
        </button>
 </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top">
  <!-- Home -->
  <ion-tab title="Home" icon="icon ion-home" href="da/home/0">
    <ion-nav-view name="da-home"></ion-nav-view>
  </ion-tab>
  <!-- Contacto -->
  <ion-tab title="Contacto" icon="icon ion-email" href="da/contacto/0">
    <ion-nav-view name="da-contacto"></ion-nav-view>
  </ion-tab>
  <!-- Horarios -->
  <ion-tab title="Horarios" icon="icon ion-clock" href="da/horarios/0">
    <ion-nav-view name="da-horarios"></ion-nav-view>
  </ion-tab>
  <!-- instructores -->
  <ion-tab title="Deportes" icon="icon ion-clipboard" href="da/deportes">
    <ion-nav-view name="da-deportes"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>