<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{types.name}} ">
  <ion-content has-header="true" padding="true">
  
  	<div class="item item-body">
   		<div class="row">
   			<!--Imagen principal de la organización-->                
   			<div class="col col-50">
               <center>
   				<img src="{{types.foto[0]}}">
               </center>
   			</div>
               <div class="col col-50">
               <center>
                   <img src="{{types.foto[1]}}">
               </center>
               </div>  			
   		</div>   		
   	</div>  	
   	<div class="item item-body">
    		<p>{{types.descripcion}}</p>
    	</div>   
  </ion-content>
</ion-view>
