	<ion-view title="<img src='img/logoViajeroSide.png'>">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		<label class="item item-input" style="background-color: white">
	    	<i class="icon ion-search placeholder-icon"></i>
	    	<input type="text" placeholder="Busqueda" style="float: right; clear: both;">
		</label>
	</ion-nav-buttons>
	<ion-content ng-controller="MapController" class="has-header">
		<div id="map" data-tap-disabled="true">
		</div>
	</ion-content>
 	</ion-view>