<ion-view title="<img src='img/logoViajeroSide.png'>">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-search" style="color:white" ng-click="search()"></button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/Red/avatar/martin.jpg">
        <h2>Martin González</h2>
        <p>Diciembre 10, 2014</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/Red/lugares/torresPaine.jpg">
        <h2>Viaje a Torres del Paine</h2>
        <p> 
            El mejor viaje que se puede realizar... Si pueden visiten Torres del Paine en un bonito y clásico lugar ;)
        </p>
        <p>
          <button ng-click="construccion()" class="button-icon" style="color: grey">1 Like</button>
          <button ng-click="construccion()" class="button-icon" style="color: grey">5 Comentarios</button>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-chatbox"></i>
          Comentarios
        </a>
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-eye"></i>
            Ver
        </a>
      </div>

    </div>
    <div class="card">
    

    <div class="item item-body">
        <img class="full-image" src="img/Red/publicidad/valleNevado.png">
        <p> Espacio publicitario </p>
      </div>
     


    <div class="list card">

      <div class="item item-avatar">
        <img src="img/Red/avatar/jorge.png">
        <h2>Jorge Figueroa</h2>
        <p>Diciembre 01, 2014</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/Red/lugares/desiertoAtacama.jpg">
        <h2>Viaje a Desierto de Atacama</h2>
        <p> 
            El viaje al desierto es una experiencia única. Recomendado para autodescubrirse y darse cuenta de grandes realidades como que nunca le ganaré al tavo en el trote :'(
        </p>
        <p>
          <button ng-click="construccion()" class="button-icon" style="color: grey">1 Like</button>
          <button ng-click="construccion()" class="button-icon" style="color: grey">2 Comentarios</button>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-chatbox"></i>
          Comentarios
        </a>
        <a class="tab-item" ng-click="construccion()">
          <i class="icon ion-eye"></i>
            Ver
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
