<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-nav-bar class="bar bar-header bar-energized">
        <ion-nav-back-button class="button-icon icon ion-ios7-arrow-back">
                Atrás
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
        <button class="button-icon ion-android-close" style="color: white" ui-sref="app.home">
        </button>
 </ion-nav-buttons>
</ion-nav-bar>

<ion-tabs class="tabs-icon-top">
  <!-- Home -->
  <ion-tab title="Inicio" icon="icon ion-home" href="red/home/0">
    <ion-nav-view name="red-home"></ion-nav-view>
  </ion-tab>
  <!-- viaje -->
  <ion-tab title="Viajes" icon="icon ion-briefcase" href="red/viajes/0">
    <ion-nav-view name="red-viajes"></ion-nav-view>
  </ion-tab>
  <!-- mapa -->
  <ion-tab title="Mapa" icon="icon ion-android-globe" href="red/mapa/0">
    <ion-nav-view name="red-mapa"></ion-nav-view>
  </ion-tab>
  <!-- solicitudes -->
  <ion-tab title="Solicitudes" icon="icon ion-android-share-alt" href="red/solicitudes/0">
    <ion-nav-view name="red-solicitudes"></ion-nav-view>
  </ion-tab>
  
</ion-tabs>
