<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-energized">      
    </ion-nav-bar>
    <ion-nav-view name="redContent" animation="slide-left"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-energized">
      <h1 class="title">
        <i  class="menuIzq icon ion-person"></i>
        Juan Perez
      </h1>
    </header>

    <ion-content class="has-header">
      <div class="list menuIzquierdo">

        <a class="item item-icon-left menu" menu-close ng-click="$state.go('red.home')">
          <i class="menuIzq icon ion-home"></i>
          Inicio
        </a>
  
        <a class="item item-icon-left menu" menu-close ng-click="construccion()">
          <i class="menuIzq icon ion-briefcase"></i>
          Viajes
        </a>
  
        <a class="item item-icon-left menu" menu-close ng-click="construccion()">
          <i class="menuIzq icon ion-network"></i>
          Solicitudes
        </a>
        <!-- Navegación -->
        <a class="item item-icon-left menu" menu-close ng-click="$state.go('red.nav')">
          <i class="menuIzq icon ion-earth"></i>
          Navegación
        </a>
        <a class="item item-icon-left menu" menu-close ng-click="construccion()">
          <i class="menuIzq icon ion-settings"></i>
          Configuración
        </a>
        <!-- Crear una Beneficios -->
        <a class="item item-icon-left menu" menu-close ng-click="$state.go('app.home')">
          <i class="menuIzq icon ion-log-out"></i>
          Cerrar sesión
        </a>
      </div>


    </ion-content>
  </ion-side-menu>
</ion-side-menus>