<ion-view title="Restaurant">
  <ion-content class="padding">
    <div class="list card">
    	<div class="item item-avatar">
    	    <img src="img/organization/logos/1.png">
    	    <h2>Bombón Oriental</h2>
    	    <p>
            <!--{{organizations.calificacion}}-->
            <i>Merced 345, Santiago</i>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            <div class='ion-android-star' style="display: inline"></div>
            </p>
    	</div>
        <div class="item item-divider">
            <p>Servicio de Restaurant
        </div>
    	<div class="item item-body">
    		<div class="row">
    			<!--Imagen principal de la organización-->                
    			<div class="col col-50">
                <center>
    				<img src="img/organization/images/bombon00.PNG">
                </center>
    			</div>
                <div class="col col-50">
                <center>
                    <img src="img/organization/images/bombon01.PNG">
                </center>
                </div>  			
    		</div>
    		<div class="row">
    			<button class="button button-block button-positive" ng-click="construccion()">
                    <i class= "icon ion-videocamera"  ></i>  Presentación
                </button>
    		</div>    		
    	</div>    
    	<div class="item item-body">
    		<p>Agradable y acogedor restaurant de desayuno y brunch en el centro de Santiago. Disfruta de nuestra amplia gama de pasteles y tortas.</p>
    	</div>
        <br><br> 	
	</div>
  </ion-content>
</ion-view>