<ion-view title="Horarios">
  <ion-content class="padding">
    <div class="list">
    	<a class="item item-avatar">
      		<img src="img/dias/Lu.png">
      		<h2>Lunes</h2>
      		<p>08:00 - 20:00</p>
    	</a>
    	<a class="item item-avatar selected">
      		<img src="img/dias/Ma.png">
      		<h2>Martes</h2>
      		<p>08:00 - 20:00</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="img/dias/Mi.png">
      		<h2>Miercoles</h2>
      		<p>08:00 - 19:00</p>
    	</a>
    	<a class="item item-avatar" >
      		<img src="img/dias/Ju.png">
      		<h2>Jueves</h2>
      		<p>08:00 - 20:00</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="img/dias/Vi.png">
      		<h2>Viernes</h2>
      		<p>08:00 - 20:00</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="img/dias/Sa.png">
      		<h2>Sábado</h2>
      		<p>08:00 - 16:00</p>
    	</a>
    	<a class="item item-avatar">
      		<img src="img/dias/Do.png">
      		<h2>Domingo</h2>
      		<p>08:00 - 16:00</p>
    	</a>
</div>
  </ion-content>
</ion-view>