/* Empty. Add your own CSS if you like */
i.menuIzq.icon {
	font-size:  22.5px;
}

.bar.bar-header.bar-energized{
	background-color: #FF8328;	
}

.menu.menu-left{
	background-color: #FF8328;		
}

.list.menuIzquierdo {
	background: #FF8328;
	color: white;
}

a.item{
	background: transparent;
	padding-top: 11px;
	padding-bottom: 11px;
}



#map{
	height: 100%;
	width: 100%;
}

.scroll{
	height: 100%;
}