button.ubicacion{
	background: url('img/ubicame.png');
}

i.menuIzq.icon {
	font-size:  22.5px;
}

.bar.bar-header.bar-energized{
	background-color: #FF8328;
}

.menu.menu-left{
	background-color: #ff9228;		
}

.list.menuIzquierdo {
	background: #ff9228;
	color: white;
}

ul.list.beneficios{
	background: #ff9228;

}

.modal.beneficios{
	background: #ff9228;
}

.item{
	background: transparent;
}

li img{
	width: 100%;
	height: 100%;
}

a.item{
	background: transparent;
	padding-top: 11px;
	padding-bottom: 11px;

}

a.item.menu{
	border-color: #FF8328;
}

a.item.selected{
	background-color: rgb(240, 240, 240);
}

.button.icon-left.ion-log-in.button-energized{
	background-color: #FF8328;
	border: none;
}
.button.icon-left.ion-plus-circled.button-energized{
	background-color: #FF8328;
	border: none;
}

/*.button.button-block.button-positive{
	background-color: #FF8328;
	border: none;
}*/

#map{
	height: 100%;
	width: 100%;
}

.scroll{
	height: 100%;
}
 
.button.button-icon.icon.ion-android-close{
	font-size: 1px;
}


.item.beneficios p , h2 {
	white-space: normal;
	color: white;	

}

.item.beneficios h2 {
	font-weight: bold;
}

p {
	text-align: justify;
}