/* Empty. Add your own CSS if you like */
button.ubicacion{
	background: url('img/ubicame.png');
}

i.menuIzq.icon {
	font-size:  22.5px;
}

.bar.bar-header.bar-energized{
	background-color: #FF8328;	
}

#map{
	height: 100%;
	width: 100%;
}

.scroll{
	height: 100%;
}